.main {
	min-height: 100vh;
	padding-top: 80px;
	background-color: var(--white);
}

.main__partners {
	padding: 70px 0;
}

.partners__title {
	margin: 0;
	font-weight: var(--medium);
	font-size: 36px;
	line-height: 57.6px;
	text-transform: uppercase;
}

.partners__list {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}

.partners__item {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 23%;
	padding: 25px 15px;
	margin-top: 30px;
	min-height: 120px;
	border: 1px solid var(--lines);
	border-radius: 5px;
	transition-property: box-shadow, background-color;
	transition-duration: .3s;
}

.partners__item:not(:nth-child(4n)) {
	margin-right: 2.65%;
}

.partners__item:hover {
	background-color: var(--white);
	box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.partners__link {
	display: block;
}

.partners__link img {
	display: block;
	width: 100%;
	max-width: 235px;
	max-height: 65px;
}

@media (max-width: 991px) {
	.partners__title {
		margin-bottom: 10px;
		font-size: 28px;
		line-height: 45px;
	}

	.partners__item {
		flex-basis: 31.5%;
		margin-right: 2.7%;
		margin-top: 20px;
	}

	.partners__item:nth-child(3n) {
		margin-right: 0;
	}
}

@media (max-width: 576px) {
	.main {
		padding-top: 105px;
	}

	.partners__item {
		flex-basis: 100%;
		margin-right: 0;
		min-height: 140px;
	}

	.partners__item:not(:nth-child(4n)) {
		margin-right: 0;
	}
}